*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --transition:all 400ms ease ;
    --container-width-lg:76%;
    --container-width-md:90%;
    --container-width-sm:94%;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat',sans-serif;
    line-height: 1.7;
    color:#d0ceed;
    background-color: #0E153A;
    background-attachment: fixed;

}

.container{
    width: 76%;
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,h4,h5{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}

h4{
    font-size: 1.9rem;
}

a{
    color: white;
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}
nav img{
    width: 110px;
}

.btn{
    display: inline-block;
    background: white;
    color:black;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    border-radius: 8px;
}

.btn:hover{
    background: transparent;
    color: white;
    border-color: white;
}

.btn-primary{
    background: white;
    color: black;
}

nav{
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav_container{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_container .logo h2{
    font-size: 40px;
    text-shadow: 100rem;
    transition: .3s ease;
}
.nav_container .logo h2:hover{
    transform: scale(1.2);
}

nav button {
    display: none;
}


.nav_menu{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav_menu a{
    font-size: 18px;
    transition: all 200ms linear;
}

.nav_menu a:hover{
    color: rgb(99, 159, 255);
}

header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header_left p {
    margin: 1rem 0 2.4rem;
}

.categories {
    background-image: linear-gradient(rgba(23, 36, 87, 0.7),rgba(8, 21, 72, 0.7)),url(images/homeback.png);
    background-attachment: fixed;
}

.categories h1 {
    line-height:1 ;
    margin-bottom: 3rem;
}

.categories_container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
}

.categories_left p{
    margin: 1rem 0 3rem;
    margin-right: 2rem;
}

.categories_right {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.2rem;
}

.category {
    background:rgba(50, 48, 48, 0.3);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.category:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.window_scroll{
    background:rgb(1, 28, 50);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}


/****** footer ******/

footer{
    background:rgb(1, 28, 50);
    padding-top: 4rem;
    font-size: 0.9rem;
}

.footer_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin-top: 50px;
}

.footer_container > div h4 {
    margin-bottom: 1.2rem;
}

.footer_logo h4{
    font-size: 45px;
    margin-left: 50px;
    padding: 20px;
}
.footer_container h4 {
    margin-right: 50px;
}

.footer_container a {
    font-size: 15px;
    transition: 0.5s ease;
}

.footer_container a:hover {
    text-decoration: underline;
}

.footer_1 p{
    margin: 0 0 4rem;
}

footer ul li{
    margin-bottom: 0.1rem;
}

footer ul li a:hover{
    color: rgb(99, 159, 255);
    transition: 0.6s;
}

.socials {
    display: flex;
    padding-top: 50px;
    margin-bottom: 50px;
    gap: 10px;
}
.socials a {
    font-size: 22px;
    transition: 0.1s ease;
}
.socials a:hover {
    font-size: 28px;
}


.cont_log {
    position: absolute;
    width: 75%;
    top: 55%;
    left: 50%;
    transform: translate(-50% , -50%);
    height: 500px;
    background: url(images/bglogin.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.cont_log .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.content .logo{
    font-size: 45px;
}

.text-sci h2{
    font-size: 35px;
    line-height: 1;
}

.text-sci h2 span{
    font-size: 25px;
    padding: 100px;
}
.text-sci p{
    font-size: 16px;
    margin: 20px 0;
}

.social-icons a i{
    font-size: 20px;
    margin-right: 10px;
    transition: 0.5s ease;
}
.social-icons a:hover i{
    color: rgb(99, 159, 255);
    font-size: 25px;
}

.cont_log .log-box{
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 58%);
        height: 100%;
        overflow: hidden;
    }

.log-box .form-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
}

.log-box .form-box.login {
    transform: translateX(0);
    transition: transform 0.5s ease;
    transition-delay: 0.5s;
}
.log-box.active .form-box.login {
    transform: translateX(430px);
    transition-delay: 0s;
}

.log-box .form-box.register {
    transform: translateX(430px);
    transition: transform 0.5s ease;
    transition-delay: 0s;
}

.log-box.active .form-box.register {
    transform: translateX(0);
    transition-delay: 0.5s;
}

.form-box h2 {
    font-size: 32px;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    font-weight: 500;
    padding-right: 28px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .2s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -15px;
}

.input-box .icon {
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}


.form-box .remember-forget {
    font-size: 14px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    accent-color: white;
    margin-right: 10px;
}

.remember-forget a {
    color: white;
    text-decoration: none;
}


.remember-forget a:hover {
    text-decoration: underline;
}

.btn_sign {
    width: 100%;
    height: 45px;
    background: rgb(99, 159, 255);
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-box .login-register {
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.login-register p a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.login-register p a:hover {
    text-decoration: underline;
}






